@import '../../../../styles/vars';
@import '../../../../styles/mixins';

.projects {
	padding: 60px 0;
	background-color: #000;
}

.projects h2 {
	color: #fff;
	text-align: center;
	margin-bottom: 40px;
	font-weight: 400;
	font-family: "Poetsen One", sans-serif;

	@include responsive-width($laptop-s) {
		margin-bottom: 80px;
	}

	b {
		font-weight: 700;
		font-family: "Poetsen One", sans-serif;
	}
}

.projectsWrapper {

	>div {

		@include responsive-width($laptop-s) {
			display: flex;
		}

		&:nth-child(even) {
			margin-top: 30px;
			margin-bottom: 30px;

			@include responsive-width($laptop-s) {
				margin-top: 40px;
				margin-bottom: 40px;
				flex-direction: row-reverse;
			}
		}
	}
}