@import '../../../../styles/vars';
@import '../../../../styles/mixins';

.skills div {
	gap: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.skills {
	display: flex;
	padding: 30px 0;
	text-align: center;
	flex-direction: column;
	justify-content: space-between;

	@include responsive-width ($laptop-s) {
		padding: 60px 0;
	}
}

.skills>div {

	@include responsive-width ($laptop-s) {
		gap: 30px;
		display: flex;
	}
}

.skills h2 {
	color: #000;
	font-weight: 400;
	font-style: normal;
	margin-bottom: 30px;
	font-family: "Poetsen One", sans-serif;

	@include responsive-width ($laptop-s) {
		margin-bottom: 60px;
	}
}