.footer {
	height: 80px;
	display: flex;
	align-items: center;
	justify-self: center;
	background-color: #000;
}

.footer p {
	margin: 0;
	color: #fff;
	font-size: 20px;
	font-family: "Poetsen One", sans-serif;
}