@import "../../../../styles/vars";
@import "../../../../styles/mixins";

.introduce {
	padding: 30px 0;

	@include responsive-width($laptop-s) {
		padding: 60px 0;
	}
}

.introduce > div {
	display: flex;
	row-gap: 35px;
	max-width: 1000px;
	align-items: center;
	flex-direction: column;

	@include responsive-width($laptop-s) {
		gap: 60px;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}

.introduce h1 {
	color: #a9bacc;
	font-weight: 400;
	font-style: normal;
	font-family: "Poetsen One", sans-serif;
}

.introduce h1 b,
.introduce h1 p {
	color: #a9bacc;
	font-weight: 400;
	font-style: normal;
	font-family: "Poetsen One", sans-serif;
}

.introduce p {
	margin: 0;
	font-family: "Karla", serif;
}
